<% @post = @posts[0] %>
 	<div class="hero-unit">
		<h2><%= @post .title %></h2>
		<p style="word-wrap: break-word;"><%= @post.body %> </p>
		<p>
			<%= link_to 'Ver más »' , @post ,:class =>"btn btn-primary btn-large" %>
		</p>
	</div>
	<div class="row">
		
	<%
	index=0 
	@posts.each do |post| 
	  if index>0 && index<4 %>	
		<div class="span4" >
			<h2><%= post.title %></h2>
			<div style="word-wrap: break-word;height:45px;">
				<%= post.body  %> 
			<div>
			<p>
				<%= link_to 'Ver más »' , post ,:class =>"btn" %>
			</p>
		</div>
	  
	<% end
	 index=index+1 
	end %>	
	
	</div>
	<hr>
	<footer>
		<p>&copy; Manuel Alonso González 2012</p>
	</footer>
	</div>
