</br></br></br></br>
<%  @user=User.find(@post.author_id)  %>
<p id="notice"><%= notice %></p>
<header id="overview" class="jumbotron subhead">
  <h1><%= @post.title %></h1>
 </br>
  <p> created by <strong><%= @user.name  %></strong> on <strong><%= @post.published_on.strftime('%b %d, %Y')   %></strong></p>
</p>
</header>
</br>

<div style="word-wrap: break-word;
    margin: 5px 0;
    width: 700px;">
  <%= @post.body.html_safe %>
</div>


</br>
<% if session[:user_id] %>	
<%= link_to 'Editar »', edit_post_path(@post), :class =>"btn btn-primary" %> 
<% end %>
<%= link_to 'Volver »' , posts_path ,:class =>"btn" %>
